<html>
    <head>
        <title>
            
        </title>
        <link href="/css/layout.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <%- style%>
    </head>
    <body>
        <%- include('_header'); %>
        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('_footer'); %>

        <%- script%>
    </body>
</html>