<html>
    <head>
        <title>
        </title>
        <link href="/css/layout.css" rel="stylesheet">
        <%- style%>
    </head>
    <body>
        <%- include('_header'); %>
        <%- body %>
        <%- include('_footer'); %>

        <%- script%>
    </body>
</html>